@{
    ViewData["Title"] = "Sobre nós";
}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/assets/css/global.css">
    <title>@ViewData["Title"]</title>
</head>
<body>
    <section class="sobre-nos">

        <h1 class="titulo-sobre-nos">Sobre Nós</h1>

        <p class="descricao-sobre-nos">
            Somos estudantes do curso de Análise e Desenvolvimento de Sistemas na PUC Minas - Contagem.
            Motivados pela vivência acadêmica e pelas necessidades observadas dentro da comunidade universitária, nos unimos para criar uma solução inovadora e
            prática para um desafio recorrente: a falta de alternativas de transporte eficientes, acessíveis e sustentáveis para os estudantes.
        </p>

        <p class="descricao-sobre-nos">
            Diante da carência de opções de transporte para o retorno às suas residências, muitos alunos enfrentam altos custos com veículos próprios ou dependem de meios tradicionais, como vans, ônibus e aplicativos de transporte. Buscando melhorar essa situação, propomos o desenvolvimento de uma aplicação web que conecte pessoas com destinos semelhantes, permitindo o compartilhamento de caronas entre os membros da comunidade acadêmica.
        </p>

        <div class="equipe">
            <div class="membro-equipe">
                <img src="~/assets/img/equipe/christiansena.jpg" alt="Christian Sena" class="foto-membro">
                <a><h2 class="nome-membro">Christian Sena</h2></a>
            </div>

            <div class="membro-equipe">
                <img src="~/assets/img/equipe/diegoromero.jpg" alt="Diego Romero" class="foto-membro">
                @* <a asp-controller="Usuarios" asp-action="Details" asp-route-id="2"><h2 class="nome-membro">Diego Romero</h2></a> *@
                <a><h2 class="nome-membro">Diego Romero</h2></a>
            </div>

            <div class="membro-equipe">
                <img src="~/assets/img/equipe/gabrielhenrique.jpg" alt="Gabriel Henrique" class="foto-membro">
                @* <a asp-controller="Usuarios" asp-action="Details" asp-route-id="4"><h2 class="nome-membro">Gabriel Henrique</h2></a> *@
                <a><h2 class="nome-membro">Gabriel Henrique</h2></a>
            </div>

            <div class="membro-equipe">
                <img src="~/assets/img/equipe/joaopedro.jpg" alt="João Pedro Santos" class="foto-membro">
                @* <a asp-controller="Usuarios" asp-action="Details" asp-route-id="3"><h2 class="nome-membro">João Pedro Santos</h2></a> *@
                <a><h2 class="nome-membro">João Pedro Santos</h2></a>
            </div>

            <div class="membro-equipe">
                <img src="~/assets/img/equipe/victorbryan.jpg" alt="Victor Bryan" class="foto-membro">
                @* <a asp-controller="Usuarios" asp-action="Details" asp-route-id="5"><h2 class="nome-membro">Victor Bryan</h2></a> *@
                <a><h2 class="nome-membro">Victor Bryan</h2></a>
            </div>

            <div class="membro-equipe">
                <img src="~/assets/img/equipe/phillipigarcia.jpg" alt="Phillipi Garcia" class="foto-membro">
                <a><h2 class="nome-membro">Phillipi Garcia</h2></a>
            </div>
        </div>

        <section class="objetivos-do-projeto">
            <h2 class="titulo-objetivos">Objetivos Esperados</h2>

            <ul class="lista-objetivos">
                <li><strong>Mobilidade Sustentável:</strong> Reduzir a emissão de gases poluentes, melhorando a qualidade do ar.</li>
                <li><strong>Economia para os Usuários:</strong> Tornar os custos de transporte mais acessíveis e rápidos, promovendo uma economia significativa para os estudantes.</li>
                <li><strong>Fortalecimento da Comunidade Universitária:</strong> Criar um ambiente de maior interação e colaboração entre alunos, professores e funcionários, promovendo um espírito de comunidade.</li>
                <li><strong>Segurança e Confiabilidade:</strong> Oferecer um sistema de credenciais institucionais para garantir a segurança e confiança entre motoristas e passageiros, além de um sistema de feedbacks contínuos para melhorar a experiência.</li>
                <li><strong>Impacto Ambiental Positivo:</strong> Contribuir para a redução da pegada de carbono e o desperdício de recursos naturais, tornando o transporte mais eficiente e ecologicamente correto.</li>
            </ul>
        </section>
    </section>



    <script src="~/assets/js/script.js"></script>
</body>
</html>