  .chat-container {
    display: flex;
    height: 100vh;
  }
  
  .sidebar {
    width: 400px;
    background-color: #13293d;
    padding: 10px;
    color: #fff;
    margin-left: 20px;
    margin-top: 20px;
  }

  .search-bar input {
    width: 80%;
    padding: 8px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
  }
  
  .btn-secondChat {
    background-color: #13293D;
    border: 1px solid #13293D;
    margin-left: 20px;
    margin-bottom: 20px;
    padding: 5px;
    transition: background-color .5s;
}
.btn-secondChat:hover {
    background-color: #fff;
    border: 1px solid #13293D;
    color: #13293D;
}

  .user {
    display: flex;
    align-items: center;
    margin: 10px 0;
    cursor: pointer;
    padding: 10px;
  }
  
  .user:hover {
    background-color: #006494;
    border-radius: 5px;
  }
  
  .user-avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
  }
  
  .chat-box {
    flex: 1;
    display: flex;
    flex-direction: column;
    background-image: url(../img/background-chat.png);
    padding: 20px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    margin-top: 20px;

  }
  
  .messages {
    flex: 1;
    padding: 10px;
    overflow-y: auto;
  }
  
  .message-input {
    display: flex;
    padding: 10px;
    border-top: 1px solid #ccc;
  }
  
  .message-input input {
    flex: 1;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ddd;
  }
  
  .message-input button {
    padding: 8px 15px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    margin-left: 10px;
    cursor: pointer;
  }
  
  .message-input button:hover {
    background-color: #45a049;
  }
  